

 <h1>promedios ultimas 1o muestras: {{avg.temperature}}</h1>





<div class="row">
        <div class="col-md">
                <div class="text-center">
                    <p>Temperatura promedio: </p>
                      <h1>{{avg.temperature}}</h1>
                      <p>Humedad promedio: </p>
                      <h1> {{avg.humidity}}</h1>
                      <p>Presion promedio: </p>
                      <h1> {{avg.pressure}}</h1>
                      <p>Velocidad del viento promedio: </p>
                      <h1> {{avg.windspeed}}</h1>
                </div>

        </div>
    </div>

<script type="text/javascript">
        var avg="{{avg}}";
</script>