

 <h1>promedios ultimas 1o muestras: {{avg.temperature}}</h1>





<div class="row">
        <div class="col-md">
                <div class="text-center">
                    <p>Temperatura promedio: </p>
                      <h1 class="" id="{{avg}}.temperature">0</h1>
                      <p>Humedad promedio: </p>
                      <h1 class="" id="{{avg}}.humidity">0</h1>
                      <p>Presion promedio: </p>
                      <h1 class="" id="{{avg}}.pressure">0</h1>
                      <p>Velocidad del viento promedio: </p>
                      <h1 class="" id="{{avg}}}.windspeed">0</h1>
                </div>

        </div>
    </div>

<script type="text/javascript">
        var avg="{{avg}}";
</script>